@import url('https://fonts.cdnfonts.com/css/meldina');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	user-select: none;
	height: 100vh;
	@apply font-interDisplay;
}

:root {
	--flowbite-input-bg: #232323;
	--flowbite-input-color: #a4a4a4;
	--flowbite-input-placeholder: #a4a4a4;
}

.ql-editor {
	font-size: 1rem;
	border: 1px solid;
}


.custom-navbar {
	border-bottom: 1px solid #232323 !important ;
}

.ql-editor::before {
	color: gray red !important; /* Light placeholder color */
}

[data-testid='flowbite-sidebar-label'] span {
	@apply dark:text-white;
}

[data-testid='flowbite-dropdown'] ul{
	@apply border border-gray-300 rounded-sm;
}
[data-testid='flowbite-footer-icon'] svg{
	@apply hover:text-light-100;
}

[data-testid='flowbite-dropdown'] span{
	@apply text-light-100;
}
[data-testid='flowbite-dropdown'] div{
	@apply first:border-none border border-gray-300;
}


[data-testid='table-row-element'] td {
	@apply p-4;
}

.post__content a {
	@apply text-blue-600;
}

.post__content img {
	@apply rounded-lg overflow-hidden shadow-lg   border border-gray-100;
}

/* Dark mode */
.dark .ql-editor::before {
	color: gray !important; /* Dark placeholder color */
}

input[type='text']:focus {
	outline: none;
	box-shadow: none;
	border-color: gray;
}

.ql-container p img {
	width: 650px;
	margin: auto;
}

/* Define Inter Display Font Faces */

@font-face {
	font-family: 'Inter Display';
	src: url('/fonts/InterDisplay-Thin.woff2') format('woff2');
	font-weight: 100; /* Thin */
	font-style: normal;
}
@font-face {
	font-family: 'Inter Display';
	src: url('/fonts/InterDisplay-Light.woff2') format('woff2');
	font-weight: 300; /* Light */
	font-style: normal;
}

@font-face {
	font-family: 'Inter Display';
	src: url('/fonts/InterDisplay-Regular.woff2') format('woff2');
	font-weight: 400; /* Regular */
	font-style: normal;
}

@font-face {
	font-family: 'Inter Display';
	src: url('/fonts/InterDisplay-Medium.woff2') format('woff2');
	font-weight: 500; /* Medium */
	font-style: normal;
}

@font-face {
	font-family: 'Inter Display';
	src: url('/fonts/InterDisplay-SemiBold.woff2') format('woff2');
	font-weight: 600; /* Semibold */
	font-style: normal;
}

@font-face {
	font-family: 'Inter Display';
	src: url('/fonts/InterDisplay-Bold.woff2') format('woff2');
	font-weight: 700; /* Bold */
	font-style: normal;
}
@font-face {
	font-family: 'Taruno Wide';
	src: url('/fonts/tarunowide-bold.woff2') format('woff2');
	font-weight: 700; /* Bold */
	font-style: normal;
}
