@import url('https://fonts.cdnfonts.com/css/meldina');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	user-select: none;
	min-height: 100vh;
	@apply font-interDisplay;
}

:root {
	--flowbite-input-bg: #232323;
	--flowbite-input-color: #a4a4a4;
	--flowbite-input-placeholder: #a4a4a4;
}

form input{
	@apply file:!bg-gray-300 !bg-gray-200 !border-gray-300 !border !text-light-100
}

select{
	@apply focus:!ring-0  placeholder:text-gray-100  !bg-gray-200 !border-gray-300 border !placeholder-gray-300 focus:!outline-none  p-3 text-sm rounded-lg !text-light-100
}

[data-testid='table-element'] table {
	@apply  rounded-lg;
}

.ql-editor {
	font-size: 1rem;
	border: 1px solid;
}

.custom-navbar {
	@apply dark:!border-b-gray-200 border-b-gray-200  border-b  border-opacity-50;
}

.ql-editor::before {
	color: gray red !important; /* Light placeholder color */
}

[data-testid='flowbite-dropdown'] ul {
	@apply border border-gray-300 rounded-sm;
}
[data-testid='flowbite-footer-icon'] svg {
	@apply hover:text-light-100;
}

[aria-label='Sidebar'] div {
	@apply dark:!bg-dark-100;
}

[aria-label='Sidebar'] {
	@apply !border-r dark:!border-gray-200 !border-opacity-10;
}

[aria-label='Sidebar'] svg {
	@apply dark:!text-gray-100;
}

[data-testid='flowbite-dropdown'] span {
	@apply text-light-100;
}
[data-testid='flowbite-dropdown'] div {
	@apply first:border-none border border-gray-300;
}

[data-testid='table-row-element'] td {
	@apply p-4;
}

.post__content a {
	@apply text-blue-600;
}

.post__content h1,
h2,
h3 {
	@apply dark:!text-light-100 !text-gray-200;
}

.post__content p {
	@apply dark:!text-gray-100 !text-gray-200;
}

.post__content img {
	@apply rounded-lg overflow-hidden shadow-lg   border !border-gray-300;
}

/* Dark mode */
.dark .ql-editor::before {
	color: gray !important; /* Dark placeholder color */
}

[aria-haspopup='menu'] svg {
	@apply !ml-1;
}

tr th {
	@apply dark:!bg-gray-300 !bg-gray-200 dark:!text-gray-100 text-light-100;
}

input[type='text']:focus {
	outline: none;
	box-shadow: none;
	border-color: gray;
}

.ql-container p img {
	width: 650px;
	margin: auto;
}

input {
	outline: none;
}

input:focus {
	outline: none;
	box-shadow: none; /* Removes any shadow applied */
	border-color: transparent; /* Prevents a border color change */
}

nav {
	@apply !border-b dark:!border-gray-300 border-opacity-5;
}
.post__content p img {
	@apply mx-auto;
}

.post__content h1,
h2,
h3 {
	@apply !m-0 !px-0 !pb-1;
}

.post__content p {
	@apply !mb-4;
}
/* Define Inter Display Font Faces */

@font-face {
	font-family: 'Inter Display';
	src: url('/fonts/InterDisplay-Thin.woff2') format('woff2');
	font-weight: 100; /* Thin */
	font-style: normal;
}
@font-face {
	font-family: 'Inter Display';
	src: url('/fonts/InterDisplay-Light.woff2') format('woff2');
	font-weight: 300; /* Light */
	font-style: normal;
}

@font-face {
	font-family: 'Inter Display';
	src: url('/fonts/InterDisplay-Regular.woff2') format('woff2');
	font-weight: 400; /* Regular */
	font-style: normal;
}

@font-face {
	font-family: 'Inter Display';
	src: url('/fonts/InterDisplay-Medium.woff2') format('woff2');
	font-weight: 500; /* Medium */
	font-style: normal;
}

@font-face {
	font-family: 'Inter Display';
	src: url('/fonts/InterDisplay-SemiBold.woff2') format('woff2');
	font-weight: 600; /* Semibold */
	font-style: normal;
}

@font-face {
	font-family: 'Inter Display';
	src: url('/fonts/InterDisplay-Bold.woff2') format('woff2');
	font-weight: 700; /* Bold */
	font-style: normal;
}
@font-face {
	font-family: 'Taruno Wide';
	src: url('/fonts/tarunowide-bold.woff2') format('woff2');
	font-weight: 700; /* Bold */
	font-style: normal;
}
